[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"synology_srm"  = {path = ".", editable = true}

"flake8"        = "==4.0.1"
"nose2"         = "==0.10.0"
"requests_mock" = "==1.9.3"

[packages]
"requests" = "==2.26.0"
